__pycache__/
*.py[cod]
*$py.class

.DS_Store
.vscode/

work/*
config/*
input/*
output/*
templates/document/*
templates/page/*
templates/page_break/*

!config/sample*.json
!input/sample*.csv
!output/sample*.pdf
!templates/document/default*.tex
!templates/page/default*.tex
!templates/page_break/default*.tex
